
<header>
    <div class="app-name" id="header-main">
        <div class="main-container">
            <div class="flex justify-content-between align-items-center">
                <h1 class="header-title"><a href="/"><span class="text-center w100">{{title}}</span></a></h1>
                <a href="javascript:void(0);" aria-label="change the theme">
                      <app-nav-menu></app-nav-menu>	 
                </a>
            </div>
        </div>
    </div>
    <nav>
        <div class="main-container">
            
        </div>
    </nav>
</header>
<widget-login-dialog>  </widget-login-dialog>
<widget-signup-dialog>  </widget-signup-dialog>	

<widget-change-password-dialog>  </widget-change-password-dialog>	
<widget-forgot-password-dialog> </widget-forgot-password-dialog>
<widget-reset-username-dialog> </widget-reset-username-dialog>
<router-outlet></router-outlet>
<div class="backToTop" id="backToTop"><i class="icon icon-top"></i></div>

