/* flags of the world */

.algeria-icon {
    background-image: url('./color/flags/algeria_30px.png');
}

.angola-icon {
    background-image: url('./color/flags/angola_30px.png');
}

.argentina-icon {
    background-image: url('./color/flags/argentina_30px.png');
}

.australia-icon {
    background-image: url('./color/flags/australia_30px.png');
}

.austria-icon {
    background-image: url('./color/flags/austria_30px.png');
}

.azerbaijan-icon {
    background-image: url('./color/flags/azerbaijan_30px.png');
}

.bangladesh-icon {
    background-image: url('./color/flags/bangladesh_30px.png');
}

.barbados-icon {
    background-image: url('./color/flags/barbados_30px.png');
}

.bavarian-icon {
    background-image: url('./color/flags/bavarian_flag_30px.png');
}

.belarus-icon {
    background-image: url('./color/flags/belarus_30px.png');
}

.benin-icon {
    background-image: url('./color/flags/benin_30px.png');
}

.bolivia-icon {
    background-image: url('./color/flags/bolivia_30px.png');
}

.bosnia-and-herzegovina-icon {
    background-image: url('./color/flags/bosnia_and_herzegovina_30px.png');
}

.botswana-icon {
    background-image: url('./color/flags/botswana_30px.png');
}

.brazil-icon {
    background-image: url('./color/flags/brazil_30px.png');
}

.bulgaria-icon {
    background-image: url('./color/flags/bulgaria_30px.png');
}

.burkina-faso-icon {
    background-image: url('./color/flags/burkina_faso_30px.png');
}

.burundi-icon {
    background-image: url('./color/flags/burundi_30px.png');
}

.cameroon-icon {
    background-image: url('./color/flags/cameroon_30px.png');
}

.canada-icon {
    background-image: url('./color/flags/canada_30px.png');
}

.chad-icon {
    background-image: url('./color/flags/chad_30px.png');
}

.chile-icon {
    background-image: url('./color/flags/chile_30px.png');
}

.colombia-icon {
    background-image: url('./color/flags/colombia_30px.png');
}

.congo-icon {
    background-image: url('./color/flags/congo_30px.png');
}

.costa-rica-icon {
    background-image: url('./color/flags/costa_rica_30px.png');
}

.djibouti-icon {
    background-image: url('./color/flags/djibouti_30px.png');
}

.dominican-republic-icon {
    background-image: url('./color/flags/dominican_republic_30px.png');
}

.ecuador-icon {
    background-image: url('./color/flags/ecuador_30px.png');
}

.el-salvador-icon {
    background-image: url('./color/flags/el_salvador_30px.png');
}

.england-icon {
    background-image: url('./color/flags/england_30px.png');
}

.eritrea-icon {
    background-image: url('./color/flags/eritrea_30px.png');
}

.estonia-icon {
    background-image: url('./color/flags/estonia_30px.png');
}

.ethiopia-icon {
    background-image: url('./color/flags/ethiopia_30px.png');
}

.france-icon {
    background-image: url('./color/flags/france_30px.png');
}

.gabon-icon {
    background-image: url('./color/flags/gabon_30px.png');
}

.germany-icon {
    background-image: url('./color/flags/germany_30px.png');
}

.guatemala-icon {
    background-image: url('./color/flags/guatemala_30px.png');
}

.guinea-bissau-icon {
    background-image: url('./color/flags/guinea_bissau_30px.png');
}

.guyana-icon {
    background-image: url('./color/flags/guyana_30px.png');
}

.haiti-icon {
    background-image: url('./color/flags/haiti_30px.png');
}

.honduras-icon {
    background-image: url('./color/flags/honduras_30px.png');
}

.hongkong-icon {
    background-image: url('./color/flags/hongkong_30px.png');
}

.hungary-icon {
    background-image: url('./color/flags/hungary_30px.png');
}

.iran-icon {
    background-image: url('./color/flags/iran_30px.png');
}

.iraq-icon {
    background-image: url('./color/flags/iraq_30px.png');
}

.ivory-coast-icon {
    background-image: url('./color/flags/ivory_coast_30px.png');
}

.jordan-icon {
    background-image: url('./color/flags/jordan_30px.png');
}

.kazakhstan-icon {
    background-image: url('./color/flags/kazakhstan_30px.png');
}

.kenya-icon {
    background-image: url('./color/flags/kenya_30px.png');
}

.kurdistan-icon {
    background-image: url('./color/flags/kurdistan_30px.png');
}

.kuwait-icon {
    background-image: url('./color/flags/kuwait_30px.png');
}

.kyrgyzstan-icon {
    background-image: url('./color/flags/kyrgyzstan_30px.png');
}

.laos-icon {
    background-image: url('./color/flags/laos_30px.png');
}

.latvia-icon {
    background-image: url('./color/flags/latvia_30px.png');
}

.lebanon-icon {
    background-image: url('./color/flags/lebanon_30px.png');
}

.lesotho-icon {
    background-image: url('./color/flags/lesotho_30px.png');
}

.liberia-icon {
    background-image: url('./color/flags/liberia_30px.png');
}

.libya-icon {
    background-image: url('./color/flags/libya_30px.png');
}

.lithuania-icon {
    background-image: url('./color/flags/lithuania_30px.png');
}

.luxembourg-icon {
    background-image: url('./color/flags/luxembourg_30px.png');
}

.macedonia-icon {
    background-image: url('./color/flags/macedonia_30px.png');
}

.malawi-icon {
    background-image: url('./color/flags/malawi_30px.png');
}

.malaysia-icon {
    background-image: url('./color/flags/malaysia_30px.png');
}

.mali-icon {
    background-image: url('./color/flags/mali_30px.png');
}

.mauritania-icon {
    background-image: url('./color/flags/mauritania_30px.png');
}

.mexico-icon {
    background-image: url('./color/flags/mexico_30px.png');
}

.monaco-icon {
    background-image: url('./color/flags/monaco_30px.png');
}

.mongolia-icon {
    background-image: url('./color/flags/mongolia_30px.png');
}

.netherlands-icon {
    background-image: url('./color/flags/netherlands_30px.png');
}

.nigeria-icon {
    background-image: url('./color/flags/nigeria_flag_30px.png');
}

.north-korea-icon {
    background-image: url('./color/flags/north_korea_30px.png');
}

.norway-icon {
    background-image: url('./color/flags/norway_30px.png');
}

.pakistan-icon {
    background-image: url('./color/flags/pakistan_30px.png');
}

.palestine-icon {
    background-image: url('./color/flags/palestine_30px.png');
}

.panama-icon {
    background-image: url('./color/flags/panama_30px.png');
}

.peru-icon {
    background-image: url('./color/flags/peru_30px.png');
}

.philippines-icon {
    background-image: url('./color/flags/philippines_30px.png');
}

.puerto-rico-icon {
    background-image: url('./color/flags/puerto_rico_30px.png');
}

.qatar-icon {
    background-image: url('./color/flags/qatar_30px.png');
}

.russia-icon {
    background-image: url('./color/flags/russian_federation_30px.png');
}

.saudi-arabia-icon {
    background-image: url('./color/flags/saudi_arabia_30px.png');
}

.scandinavian-icon {
    background-image: url('./color/flags/scandinavian_30px.png');
}

.scotland-icon {
    background-image: url('./color/flags/scotland_30px.png');
}

.sierra-leone-icon {
    background-image: url('./color/flags/sierra_leone_30px.png');
}

.singapore-icon {
    background-image: url('./color/flags/singapore_30px.png');
}

.slovakia-icon {
    background-image: url('./color/flags/slovakia_30px.png');
}

.slovenia-icon {
    background-image: url('./color/flags/slovenia_30px.png');
}

.somalia-icon {
    background-image: url('./color/flags/somalia_30px.png');
}

.south-africa-icon {
    background-image: url('./color/flags/south_africa_30px.png');
}

.south-sudan-icon {
    background-image: url('./color/flags/south_sudan_30px.png');
}

.spain-icon {
    background-image: url('./color/flags/spain_30px.png');
}

.sri-lanka-icon {
    background-image: url('./color/flags/sri_lanka_30px.png');
}

.swaziland-icon {
    background-image: url('./color/flags/swaziland_30px.png');
}

.sweden-icon {
    background-image: url('./color/flags/sweden_30px.png');
}

.taiwan-icon {
    background-image: url('./color/flags/taiwan_30px.png');
}

.tajikistan-icon {
    background-image: url('./color/flags/tajikistan_30px.png');
}

.thuringia-icon {
    background-image: url('./color/flags/thuringia_30px.png');
}

.timor-leste-icon {
    background-image: url('./color/flags/timor_leste_30px.png');
}

.togo-icon {
    background-image: url('./color/flags/togo_30px.png');
}

.tunisia-icon {
    background-image: url('./color/flags/tunisia_30px.png');
}

.uganda-icon {
    background-image: url('./color/flags/uganda_30px.png');
}

.ukraine-icon {
    background-image: url('./color/flags/ukraine_30px.png');
}

.united-kingdom-icon {
    background-image: url('./color/flags/united_kingdom_30px.png');
}

.uruguay-icon {
    background-image: url('./color/flags/uruguay_30px.png');
}

.usa-icon {
    background-image: url('./color/flags/usa_30px.png');
}

.uzbekistan-icon {
    background-image: url('./color/flags/uzbekistan_30px.png');
}

.venezuela-icon {
    background-image: url('./color/flags/venezuela_30px.png');
}

.vietnam-icon {
    background-image: url('./color/flags/vietnam_30px.png');
}

.yemen-icon {
    background-image: url('./color/flags/yemen_30px.png');
}