<div class="modal custom-modal" id="password-reset-success-dialog-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog max-width-330px rounded-0">
        <div class="modal-content rounded-0">
            <div class="modal-header d-flex justify-content-end border-0">
                <div>
                    <button type="button"
                        class="custom-btn none-important icons icon-16px cancel-black-icon p-0 m-0 float-none"
                        data-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body pt-0 pl-4 pb-4 pr-4 border-0">
                <div class="custom-modal-header mb-5 pb-5">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="avatar icon-75px light rounded-circle">
                            <div
                                class="img-placeholder icons icon-45px m-auto top-1px left-1px bottom-1px right-1px okay-color-icon-100">
                            </div>
                        </div>
                    </div>
                    <h3 class="mb-1">Reset Confirmation.</h3>
                    <div>
                        An email with further instructions was sent to your email address. If you don’t
                        receive a message in 5 minutes, check the junk folder.
                    </div>
                </div>
                <div class="mt-0">
                    <div class="m-0">
                        <div class="">
                            <div class="mt-3 mb-2">
                                <button *ngIf="!isEmailVerificationError" type="button"
                                    class="custom-btn font-weight-bold success font-size-14px d-flex justify-content-center w-100 m-0"
                                    (click)="okay()">
                                    <div>Okay</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>